@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background:#080808;
  color-scheme: light dark;
  color:#24252e;
  line-height: 1.5;
  font-weight: 400;
  font-size: large;
  font-weight: semi-bold;
  padding: 2rem;
}

*{
  font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  text-decoration: none;
  align-items: center;
  }

#navbar{
  display:flex;
  justify-content:space-evenly;

}


a {
  font-weight:bold;
  color:#006D77;
  text-decoration: inherit;
}


a:hover {
  color: #03045e;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
